.cm_field_tooltip {
	width: 200px !important; font-family: Tahoma; font-size: 11px; -ms-word-wrap: break-word !important;
}
a.cm_link {
	color: rgb(0, 55, 152); font-family: Tahoma; font-size: 11px; text-decoration: underline;
}
a.cm_link:visited {
	color: rgb(0, 55, 152); font-family: Tahoma; font-size: 11px; text-decoration: underline;
}
a.cm_link:hover {
	color: rgb(0, 55, 152); font-family: Tahoma; font-size: 11px; text-decoration: none;
}
.cm_text {
	color: rgb(0, 51, 153); font-family: Tahoma; font-size: 11px;
}
.cm_editctl {
	padding: 0px 2px 2px; border: 1px solid rgb(127, 157, 185); border-image: none; height: 17px; color: rgb(0, 51, 153); font-family: Tahoma; font-size: 11px; background-color: rgb(255, 255, 255);
}
.cm_font {
	font-family: Tahoma; font-size: 11px;
}
.cm_table_header_first {
	padding: 4px; border: 1px solid rgb(138, 164, 187); border-image: none; color: rgb(76, 76, 76); font-family: Tahoma; font-size: 11px; font-weight: bold; white-space: nowrap; background-repeat: repeat-x; background-color: rgb(243, 243, 243);
}
.cm_table_header_other {
	border-width: 1px 1px 1px medium; border-style: solid solid solid none; border-color: rgb(138, 164, 187) rgb(138, 164, 187) rgb(138, 164, 187) currentColor; padding: 4px; border-image: none; color: rgb(76, 76, 76); font-family: Tahoma; font-size: 11px; font-weight: bold; white-space: nowrap; background-repeat: repeat-x; background-color: rgb(243, 243, 243);
}
.cm_table_cell_first {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(138, 164, 187) rgb(138, 164, 187); padding: 4px; border-image: none; font-family: Tahoma; font-size: 11px; -ms-word-wrap: break-word; background-color: rgb(255, 255, 255);
}
.cm_table_cell_other {
	border-width: 0px 1px 1px medium; border-style: none solid solid none; border-color: currentColor rgb(138, 164, 187) rgb(138, 164, 187) currentColor; padding: 4px; border-image: none; font-family: Tahoma; font-size: 11px; -ms-word-wrap: break-word; background-color: rgb(255, 255, 255);
}
.cm_table_cell_alternate_first {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(138, 164, 187) rgb(138, 164, 187); padding: 4px; border-image: none; font-family: Tahoma; font-size: 11px; background-color: rgb(243, 243, 243);
}
.cm_table_cell_alternate_other {
	border-width: 0px 1px 1px medium; border-style: none solid solid none; border-color: currentColor rgb(138, 164, 187) rgb(138, 164, 187) currentColor; padding: 4px; border-image: none; font-family: Tahoma; font-size: 11px; background-color: rgb(243, 243, 243);
}
.cm_textControl {
	border: 1px solid rgb(127, 157, 185); border-image: none; width: 100%; color: rgb(0, 51, 153); font-family: Tahoma; font-size: 11px;
}
.cm_noteControl {
	border: 1px solid rgb(127, 157, 185); border-image: none; width: 100%; height: 50px; color: rgb(0, 51, 153); font-family: Tahoma; font-size: 11px;
}
.cm_noteTextArea {
	outline: 0px; border: 0px currentColor; border-image: none; color: rgb(17, 17, 17); font-family: Tahoma; font-size: 11px; min-height: 14px !important; min-width: 50px; resize: none;
}
.cm_lookupControlDdl {
	font-family: Tahoma !important; font-size: 11px;
}
.cm_dateControl {
	border: 1px solid rgb(127, 157, 185); border-image: none; width: 70px; color: rgb(0, 51, 153); font-family: Tahoma; font-size: 11px;
}
.cm_tableField_width {
	width: 120px;
}
.cm_tableField_width_text {
	width: 120px;
}
.cm_tableField_width_textarea {
	width: 140px;
}
.cm_tableField_width_boolean {
	width: 100px;
}
.cm_tableField_width_number {
	width: 80px;
}
.cm_tableField_width_lookup {
	width: 140px;
}
.cm_tableField_width_user {
	width: 130px;
}
.cm_tableField_width_date {
	width: 95px;
}
.cm_tableField_width_datetime {
	width: 180px;
}
.cm_tableField_width_choice {
	width: 140px;
}
.cm_tr_top {
	position: relative; z-index: 100;
}
.cm_textTemplate {
	border: 1px solid rgb(136, 166, 190); border-image: none; color: rgb(17, 17, 17); display: none; position: absolute; z-index: 9999; background-color: rgb(255, 255, 255);
}
.cm_textTemplate_item {
	padding: 3px; color: rgb(17, 17, 17); font-family: Tahoma; font-size: 11px; font-weight: normal !important; white-space: normal !important;
}
.cm_textTemplate_item_selected {
	padding: 2px; border: 1px solid rgb(186, 211, 228); border-image: none; color: rgb(17, 17, 17); font-family: Tahoma; font-size: 11px; font-weight: normal !important; white-space: normal !important; cursor: default; background-color: rgb(186, 211, 228);
}
.cm_view_control {
	overflow: hidden; -ms-word-wrap: break-word;
}
.cm_edit_control {
	position: relative;
}
.cm_edit_control .dp_divDateTime .lc {
	position: relative;
}
.cm_win_divButtons {
	text-align: right; padding-top: 7px; padding-bottom: 2px;
}
.cm_win_button {
	width: 100px; font-family: Tahoma; font-size: 11px;
}
.cm_edit_control {
	position: relative;
}
.cm_edit_control .dp_divTimeSep {
	margin-top: 4px;
}
.cm_div_view {
	overflow: hidden; -ms-word-wrap: break-word !important;
}
.cm_sizedButton {
	width: 78px !important;
}
.cm_saveButton {
	width: 150px !important;
}
.cm_btnOKCancel {
	margin-left: 10px; float: left;
}
.cm_tbWaiting {
	float: left;
}
