.dbflink_image {
	width: 16px; height: 16px; margin-left: 3px; cursor: pointer;
}
a.dbflink_link_create:hover {
	text-decoration: none; display: inline;
}
.dbflink_link_create {
	color: rgb(0, 55, 152); font-family: Tahoma; font-size: 11px; text-decoration: underline;
}
a.dbflink_link:hover {
	text-decoration: underline; display: inline;
}
.dbflink_link {
	color: rgb(0, 55, 152); font-family: Tahoma; font-size: 11px; text-decoration: none;
}
.dbflink_div_clear {
	width: 100%; height: 5px; clear: both;
}
.dbflink_linkaction_container {
	width: 38px;
}
.dbflink_link_container {
	overflow: hidden; padding-left: 3px; -ms-word-wrap: break-word;
}
.dbflink_linkaction_container {
	float: left;
}
.dbflink_linkandimgages_container {
	clear: both; margin-bottom: 5px;
}
.dbflink_win_td_first {
	padding: 0px; width: 10px; color: rgb(81, 84, 89); font-family: Tahoma; font-size: 11px; font-weight: bold;
}
.dbflink_win_td {
	padding-left: 33px;
}
.dbflink_win_td {
	height: 33px; vertical-align: top;
}
.dbflink_win_td_first {
	height: 33px; vertical-align: top;
}
#dbflink_txt_ttl {
	outline: 0px; border: 1px solid rgb(138, 164, 187); border-image: none; width: 215px; height: 13px; font-family: Verdana; font-size: 11px;
}
#dbflink_txt_url {
	outline: 0px; border: 1px solid rgb(138, 164, 187); border-image: none; width: 215px; height: 13px; font-family: Verdana; font-size: 11px;
}
#dbflink_txt_tooltip {
	outline: 0px; border: 1px solid rgb(138, 164, 187); border-image: none; width: 215px; height: 13px; font-family: Verdana; font-size: 11px;
}
.dbflink_divbuttons {
	width: 100%;
}
.dbflink_divbuttons_float {
	width: 166px;
}
.dbflink_button_cancel {
	width: 70px !important;
}
.dbflink_button_ok {
	width: 70px !important;
}
.dbflink_button_ok {
	margin-right: 10px;
}
.dblink_hidden_value {
	display: none;
}
.dbflinks_tdbuttons {
	padding-right: 6px;
}
