
task1/.vs/task1/v15/Server/sqlite3/db.lock
*.lock
task2/.vs/task2/v15/.suo
task2/.vs/task2/v15/Server/sqlite3/storage.ide
task3/.vs/task3/v15/.suo
sharpening_advanced/.vs/sharpening/v15/.suo
sharpening_advanced/.vs/sharpening/v15/Server/sqlite3/storage.ide-wal
sharpening_advanced/.vs/sharpening/v15/Server/sqlite3/storage.ide-shm
sharpening_advanced/.vs/sharpening/v15/.suo
sharpening_advanced/.vs/sharpening/v15/Server/sqlite3/storage.ide-wal
sharpening_advanced/.vs/sharpening/v15/.suo
sharpening_advanced/task_3/obj/Debug/task_3.csproj.CoreCompileInputs.cache
